<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WFRKCurs.Properties.Settings.Курсовик__Мебельный_ConnectionString"
            connectionString="Data Source=DESKTOP-EQH7H9H\SQLEXPRESS;Initial Catalog=&quot;Курсовик (Мебельный)&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>